In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
budget_data_to_load = "Budget_Data.csv"

# Read School and Student Data File and store into Pandas Data Frames
budget_df = pd.read_csv(budget_data_to_load)
#list(budget_df)

In [2]:
budget_grouped = budget_df.groupby(['Alcaldia', 'Rubro'])

budget_main=budget_grouped["Monto ejercido"].sum() 

budget_data = pd.DataFrame(budget_main)

budget_df_2 = budget_data.reset_index(level=['Alcaldia', 'Rubro'])
budget_df_2 .head()

,Alcaldia,Rubro,Monto ejercido
0,Agencia de Atención Animal De La Ciudad De México,Derechos Humanos,1.901015e+05
1,Agencia de Atención Animal De La Ciudad De México,Otros Asuntos Sociales,1.003356e+07
2,Agencia de Atención Animal De La Ciudad De México,Protección Civil,0.000000e+00
3,Agencia de Gestión Urbana de La Ciudad De México,Alumbrado Público,1.134777e+09
4,Agencia de Gestión Urbana de La Ciudad De México,Deporte y Recreación,2.482037e+07

In [3]:
# Limpiamos nombres de las alcaldias

alcaldias=budget_df_2["Alcaldia"]

alcaldias=alcaldias.str.replace("Á","A")
alcaldias=alcaldias.str.replace("á","a")
alcaldias=alcaldias.str.replace("É","E")
alcaldias=alcaldias.str.replace("é","e")
alcaldias=alcaldias.str.replace("Í","I")
alcaldias=alcaldias.str.replace("í","i")
alcaldias=alcaldias.str.replace("Ó","O")
alcaldias=alcaldias.str.replace("ó","o")
alcaldias=alcaldias.str.replace("Ú","u")
alcaldias=alcaldias.str.replace("ú","u")

alcaldias = [alcaldia.upper() for alcaldia in alcaldias]

In [4]:
#Removemos el termino "Alcaldia " que presede al nombre de la alcaldia

budget_df_2["Nombre provisional"] = alcaldias
alcaldias=budget_df_2["Nombre provisional"]
alcaldias=alcaldias.str.replace("ALCALDIA ","")
budget_df_2["Nombre"] = alcaldias
budget_df_2 = budget_df_2[["Nombre", "Rubro", "Monto ejercido"]]

In [5]:
# Tiramos las entidades que no nos interesan

nombres=['TLALPAN',
 'TLAHUAC',
 'VENUSTIANO CARRANZA',
 'CUAUHTEMOC',
 'IZTAPALAPA',
 'AZCAPOTZALCO',
 'BENITO JUAREZ',
 'CUAJIMALPA DE MORELOS',
 'IZTACALCO',
 'GUSTAVO A. MADERO',
 'MIGUEL HIDALGO',
 'LA MAGDALENA CONTRERAS',
 'COYOACAN',
 'MILPA ALTA',
 'ALVARO OBREGON',
 'XOCHIMILCO']

budget_df_3 = budget_df_2.loc[budget_df_2["Nombre"].isin(nombres),:]

In [6]:
todos_los_rubros = budget_df_3["Rubro"].unique()
todos_los_rubros

array(['Abastecimiento de Agua', 'Alimentación y Nutrición',
       'Alumbrado Público', 'Asuntos Económicos y Comerciales en General',
       'Asuntos Jurídicos', 'Asuntos Laborales Generales', 'Cultura',
       'Deporte y Recreación', 'Derechos Humanos', 'Educación Básica',
       'Familia e Hijos',
       'Ordenación de Aguas Residuales, Drenaje y Alcantarillado',
       'Ordenación de Desechos', 'Otros', 'Otros Asuntos Económicos',
       'Otros Grupos Vulnerables',
       'Otros de Seguridad Social y Asistencia Social', 'Policía',
       'Presidencia / Gubernatura',
       'Prestación de Servicios de Salud a la Comunidad',
       'Protección Civil',
       'Protección de la Diversidad Biológica y del Paisaje',
       'Servicios Comunales', 'Servicios Estadísticos', 'Urbanización',
       'Vivienda', 'Otros de Protección Ambiental', 'Agropecuaria',
       'Turismo', 'Otros Relacionados con Transporte',
       'Generación de Recursos para la Salud',
       'Servicios Registrales, Administrativos y Patrimoniales',
       'Territorio'], dtype=object)

In [10]:
#Tiramos los rubros que no nos interesan

mis_rubros=["Alumbrado Público", 
        'Policía',
        'Urbanización',
        'Familia e Hijos',
        "apoyo a la prevención del delito",
        'Turismo',   
        'Otros Grupos Vulnerables',
        'Derechos Humanos']

budget_df_4 = budget_df_3.loc[budget_df_3["Rubro"].isin(mis_rubros),:]

In [12]:
budget_final_df = pd.pivot_table(budget_df_4,index=["Nombre"], values=["Monto ejercido"], columns=["Rubro"])
budget_final_df

                          Monto ejercido                                   \
Rubro                  Alumbrado Público Derechos Humanos Familia e Hijos
Nombre
ALVARO OBREGON              3.216328e+08              NaN             NaN
AZCAPOTZALCO                1.509562e+08        792550.43    1.675800e+06
BENITO JUAREZ               6.183718e+07        381930.00    5.748000e+06
COYOACAN                    2.127291e+08              NaN             NaN
CUAJIMALPA DE MORELOS       1.153829e+08        204433.00    3.731693e+06
CUAUHTEMOC                  2.440966e+08              NaN    7.309825e+06
GUSTAVO A. MADERO           2.319660e+08      18641110.20    3.000000e+06
IZTACALCO                   1.497162e+08              NaN             NaN
IZTAPALAPA                  3.877725e+08       9156144.23    3.060000e+06
LA MAGDALENA CONTRERAS      8.879428e+07      55009454.92    1.864276e+07
MIGUEL HIDALGO              8.664206e+07        499735.17             NaN
MILPA ALTA                  3.246312e+07        455336.59             NaN
TLAHUAC                     2.213280e+08       3028371.39             NaN
TLALPAN                     3.636250e+07              NaN             NaN
VENUSTIANO CARRANZA         4.015533e+08              NaN    1.159746e+08
XOCHIMILCO                  1.178374e+08              NaN             NaN

                                                                            \
Rubro                  Otros Grupos Vulnerables       Policía      Turismo
Nombre
ALVARO OBREGON                       3507526.18  1.607289e+08          NaN
AZCAPOTZALCO                         4525279.69  1.187914e+08          NaN
BENITO JUAREZ                       20317094.90  1.131409e+08          NaN
COYOACAN                            23790220.71  1.127769e+08          NaN
CUAJIMALPA DE MORELOS               29098179.39  5.431111e+07   4704758.16
CUAUHTEMOC                          86702472.88  1.287661e+08   8551791.83
GUSTAVO A. MADERO                   57487708.00  3.343220e+08          NaN
IZTACALCO                            6245034.00  8.383893e+07          NaN
IZTAPALAPA                          61068967.32  4.697981e+08          NaN
LA MAGDALENA CONTRERAS              73903499.75  1.517152e+08          NaN
MIGUEL HIDALGO                      34224690.17  1.742051e+08          NaN
MILPA ALTA                           6412746.86  3.182512e+06     81132.72
TLAHUAC                              2751942.61  2.168941e+08    612926.75
TLALPAN                              4869583.33  6.332463e+07          NaN
VENUSTIANO CARRANZA                 79392877.08  5.075244e+08          NaN
XOCHIMILCO                          38946762.34  8.643339e+07  28247474.38


Rubro                   Urbanización
Nombre
ALVARO OBREGON          4.484824e+08
AZCAPOTZALCO            4.019307e+08
BENITO JUAREZ           7.909655e+08
COYOACAN                5.012711e+08
CUAJIMALPA DE MORELOS   3.132200e+08
CUAUHTEMOC              5.928846e+08
GUSTAVO A. MADERO       1.382035e+09
IZTACALCO               4.313519e+08
IZTAPALAPA              1.011201e+09
LA MAGDALENA CONTRERAS  4.936928e+08
MIGUEL HIDALGO          4.043742e+08
MILPA ALTA              1.644147e+08
TLAHUAC                 2.586789e+08
TLALPAN                 3.878023e+08
VENUSTIANO CARRANZA     6.702622e+08
XOCHIMILCO              3.602525e+08

In [9]:
#export_csv = budget_data.to_csv ("budget_final_df .csv", index = None, header=True)