In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
budget_data_to_load = "Budget_Data.csv"

# Read School and Student Data File and store into Pandas Data Frames
budget_df = pd.read_csv(budget_data_to_load)
#list(budget_df)

In [15]:
budget_grouped = budget_df.groupby(['Alcaldia', 'Rubro'])

budget_main=budget_grouped["Monto ejercido"].sum() 

budget_data = pd.DataFrame(budget_main)

budget_df_2 = budget_data.reset_index(level=['Alcaldia', 'Rubro'])
budget_df_2["Monto ejercido"]= budget_df_2["Monto ejercido"]/1000000
budget_df_2 .head()

,Alcaldia,Rubro,Monto ejercido
0,Agencia de Atención Animal De La Ciudad De México,Derechos Humanos,0.190101
1,Agencia de Atención Animal De La Ciudad De México,Otros Asuntos Sociales,10.033560
2,Agencia de Atención Animal De La Ciudad De México,Protección Civil,0.000000
3,Agencia de Gestión Urbana de La Ciudad De México,Alumbrado Público,1134.777153
4,Agencia de Gestión Urbana de La Ciudad De México,Deporte y Recreación,24.820374

In [16]:
# Limpiamos nombres de las alcaldias

alcaldias=budget_df_2["Alcaldia"]

alcaldias=alcaldias.str.replace("Á","A")
alcaldias=alcaldias.str.replace("á","a")
alcaldias=alcaldias.str.replace("É","E")
alcaldias=alcaldias.str.replace("é","e")
alcaldias=alcaldias.str.replace("Í","I")
alcaldias=alcaldias.str.replace("í","i")
alcaldias=alcaldias.str.replace("Ó","O")
alcaldias=alcaldias.str.replace("ó","o")
alcaldias=alcaldias.str.replace("Ú","u")
alcaldias=alcaldias.str.replace("ú","u")

alcaldias = [alcaldia.upper() for alcaldia in alcaldias]

In [17]:
#Removemos el termino "Alcaldia " que presede al nombre de la alcaldia

budget_df_2["Nombre provisional"] = alcaldias
alcaldias=budget_df_2["Nombre provisional"]
alcaldias=alcaldias.str.replace("ALCALDIA ","")
budget_df_2["Nombre"] = alcaldias
budget_df_2 = budget_df_2[["Nombre", "Rubro", "Monto ejercido"]]

In [18]:
# Tiramos las entidades que no nos interesan

nombres=['TLALPAN',
 'TLAHUAC',
 'VENUSTIANO CARRANZA',
 'CUAUHTEMOC',
 'IZTAPALAPA',
 'AZCAPOTZALCO',
 'BENITO JUAREZ',
 'CUAJIMALPA DE MORELOS',
 'IZTACALCO',
 'GUSTAVO A. MADERO',
 'MIGUEL HIDALGO',
 'LA MAGDALENA CONTRERAS',
 'COYOACAN',
 'MILPA ALTA',
 'ALVARO OBREGON',
 'XOCHIMILCO']

budget_df_3 = budget_df_2.loc[budget_df_2["Nombre"].isin(nombres),:]

In [19]:
todos_los_rubros = budget_df_3["Rubro"].unique()
todos_los_rubros

array(['Abastecimiento de Agua', 'Alimentación y Nutrición',
       'Alumbrado Público', 'Asuntos Económicos y Comerciales en General',
       'Asuntos Jurídicos', 'Asuntos Laborales Generales', 'Cultura',
       'Deporte y Recreación', 'Derechos Humanos', 'Educación Básica',
       'Familia e Hijos',
       'Ordenación de Aguas Residuales, Drenaje y Alcantarillado',
       'Ordenación de Desechos', 'Otros', 'Otros Asuntos Económicos',
       'Otros Grupos Vulnerables',
       'Otros de Seguridad Social y Asistencia Social', 'Policía',
       'Presidencia / Gubernatura',
       'Prestación de Servicios de Salud a la Comunidad',
       'Protección Civil',
       'Protección de la Diversidad Biológica y del Paisaje',
       'Servicios Comunales', 'Servicios Estadísticos', 'Urbanización',
       'Vivienda', 'Otros de Protección Ambiental', 'Agropecuaria',
       'Turismo', 'Otros Relacionados con Transporte',
       'Generación de Recursos para la Salud',
       'Servicios Registrales, Administrativos y Patrimoniales',
       'Territorio'], dtype=object)

In [20]:
#Tiramos los rubros que no nos interesan

mis_rubros=["Alumbrado Público", 
        'Policía',
        'Urbanización',
        'Familia e Hijos',
        "apoyo a la prevención del delito",
        'Turismo',   
        'Otros Grupos Vulnerables',
        'Derechos Humanos']

budget_df_4 = budget_df_3.loc[budget_df_3["Rubro"].isin(mis_rubros),:]

In [21]:
budget_final_df = pd.pivot_table(budget_df_4,index=["Nombre"], values=["Monto ejercido"], columns=["Rubro"])
budget_final_df

                          Monto ejercido                                   \
Rubro                  Alumbrado Público Derechos Humanos Familia e Hijos
Nombre
ALVARO OBREGON                321.632837              NaN             NaN
AZCAPOTZALCO                  150.956222         0.792550        1.675800
BENITO JUAREZ                  61.837183         0.381930        5.748000
COYOACAN                      212.729122              NaN             NaN
CUAJIMALPA DE MORELOS         115.382944         0.204433        3.731693
CUAUHTEMOC                    244.096641              NaN        7.309825
GUSTAVO A. MADERO             231.965993        18.641110        3.000000
IZTACALCO                     149.716195              NaN             NaN
IZTAPALAPA                    387.772454         9.156144        3.060000
LA MAGDALENA CONTRERAS         88.794282        55.009455       18.642755
MIGUEL HIDALGO                 86.642065         0.499735             NaN
MILPA ALTA                     32.463115         0.455337             NaN
TLAHUAC                       221.328018         3.028371             NaN
TLALPAN                        36.362498              NaN             NaN
VENUSTIANO CARRANZA           401.553262              NaN      115.974577
XOCHIMILCO                    117.837432              NaN             NaN

                                                                        \
Rubro                  Otros Grupos Vulnerables     Policía    Turismo
Nombre
ALVARO OBREGON                         3.507526  160.728892        NaN
AZCAPOTZALCO                           4.525280  118.791416        NaN
BENITO JUAREZ                         20.317095  113.140868        NaN
COYOACAN                              23.790221  112.776914        NaN
CUAJIMALPA DE MORELOS                 29.098179   54.311109   4.704758
CUAUHTEMOC                            86.702473  128.766108   8.551792
GUSTAVO A. MADERO                     57.487708  334.322024        NaN
IZTACALCO                              6.245034   83.838926        NaN
IZTAPALAPA                            61.068967  469.798099        NaN
LA MAGDALENA CONTRERAS                73.903500  151.715196        NaN
MIGUEL HIDALGO                        34.224690  174.205072        NaN
MILPA ALTA                             6.412747    3.182512   0.081133
TLAHUAC                                2.751943  216.894078   0.612927
TLALPAN                                4.869583   63.324635        NaN
VENUSTIANO CARRANZA                   79.392877  507.524421        NaN
XOCHIMILCO                            38.946762   86.433390  28.247474


Rubro                  Urbanización
Nombre
ALVARO OBREGON           448.482360
AZCAPOTZALCO             401.930654
BENITO JUAREZ            790.965481
COYOACAN                 501.271139
CUAJIMALPA DE MORELOS    313.220019
CUAUHTEMOC               592.884630
GUSTAVO A. MADERO       1382.035352
IZTACALCO                431.351909
IZTAPALAPA              1011.200865
LA MAGDALENA CONTRERAS   493.692838
MIGUEL HIDALGO           404.374214
MILPA ALTA               164.414735
TLAHUAC                  258.678863
TLALPAN                  387.802262
VENUSTIANO CARRANZA      670.262201
XOCHIMILCO               360.252498

In [9]:
#export_csv = budget_data.to_csv ("budget_final_df .csv", index = None, header=True)